/*
* @Author: weijie
* @Date:   2017-09-28 10:49:49
 * @Last Modified by: lishengpeng
 * @Last Modified time: 2018-03-26 12:37:34
*/

.context-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #fff;
	width: 100px;
	padding: 2px;
	font-size: 12px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
	.cm-li {
		height: 30px;
		line-height: 20px;
		padding: 5px 10px;
	}
	.s-disabled {
		color: #ccc;
	}
}