// Global
.sticky {
	position: fixed!important;
	top: 0!important;
}
.scrollbar::-webkit-scrollbar {
	display: none;
	width: 0px;
	height: 0px;
}
.scrollbar::-webkit-scrollbar:hover {
	background-color: #ddd;
}
.scrollbar::-webkit-scrollbar-thumb {
	min-width: 3px;
	min-height: 3px;
	border-radius: 10px;
	border: 1px solid #999;
	background-color: #999;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
	min-width: 3px;
	min-height: 3px;
	border-radius: 10px;
	border: 1px solid #999;
	background-color: #999;
}
.scrollbar::-webkit-scrollbar-thumb:active {
	border-radius: 10px;
	border: 1px solid #999;
	background-color: #999;
}

// Edit
.pg-edit-box {
	// position: relative;
	// top: 0;
	// left: 0;
	// min-height: 1000px;
	width: 100%;
	height: 100%;
}
.pg-body {
	display: flex;
	width: 100%;
	min-height: 820px;
	// & > div {
	// 	height: 100%;
	// }
	.pg-left,
	.pg-right {
		background-color: #ececec;
	}
	.pg-left {
		width: 200px;
		border-right: 1px solid #c1c1c1;
	}
	.pg-center {
		justify-content: center;
		background-color: #f2f2f2;
	}
	.pg-right {
		width: 260px;
		border-left: 1px solid #c1c1c1;
		.edit-img{
			display: inline-block;
			width: 16px;
			height: 16px;
			background: url(./images/edit.png)
		}
		.edit-img:hover{
			background: url(./images/hover.png)
		}
		// 
		.ant-tabs-bar {
			margin-bottom: 0;
		}
		.ant-tabs-content {
		}
		.ant-collapse {
			border: 0;
			border-radius: 0;
			& > .ant-collapse-item {
				border-bottom: 1px solid #ccc;
				& > .ant-collapse-header {
					padding: 0 10px;
					color: #333;
					font-size: 12px;
					line-height: 24px;
					font-weight: bold;
					background-color: #d8d8d8;
					& > .arrow {
						right: 10px;
						left: initial;
						line-height: 24px;
						transform: rotate(180deg);
					}
					&[aria-expanded='true'] > .arrow {
						transform: rotate(90deg);
					}
				}
				& > .ant-collapse-content {
					padding: 0 10px;
					background-color: #ececec;
					& > .ant-collapse-content-box {
						padding: 4px 0;
					}
				}
				&:last-child {
					border-radius: 0;
					& > .ant-collapse-header,
					& > .ant-collapse-content {
						border-radius: 0;
					}
				}
			}
		}
	}
	.ui-btn-default {
		position: fixed;
		width: 270px;
		bottom: 0;
		margin: 15px;
		padding: 0 15px;
		color: #4A6895;
		cursor: pointer;
		line-height: 34px;
		text-align: center;
		text-decoration: none;
		background: #fff;
		border: 1px solid #D9D9D9;
	}
	.btn-disabled {
		opacity: 0.3;
	}
	.mt10 {
		margin-top: 10px;
	}
	.temp-item {
		float: left;
		background: #FAFAFA;
		border: 1px solid #DEDEDE;
		border-radius: 0.21px;
		margin-bottom: 10px;
		box-sizing: content-box;
		&:hover {
			box-shadow: 5px -1px 6px 0 rgba(0,0,0,0.15);
		}
		&.selected {
			border: 1px solid #2383F0;
		}
	}
	.ui-center {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 160px;
		right: 460px;
		border: solid #ccc;
		border-width: 0 1px;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		.preview-wrapper {
			min-height: 1000px;
		}
	}
	.ui-hidden {
		display: none;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
	}
	.cd {
		cursor: default;
	}
}


.ry-roll-screen-items-drag {
	// background: #F2F6FF;
	position: relative;
	&.can-edit:hover {
		background: #F0F4FB;
	}
	&.can-edit.is-click {
		background: #F0F4FB;
	}
	&.is-move {
		opacity: 0.7;
		z-index: 1;
	}
	&.disable {
		background-color: #eee;
	}
	&.active {
		background: #FFFBBD !important;
		outline: 2px dashed #2383F0;
		box-shadow: 0 2px 7px 0 rgba(0,0,0,0.25);
		.ui-drag-inactive-preview {
			display: none;
		}
		.ui-drag-active-preview {
			display: block;
			line-height: 28px;
			text-align: center;
		}
	}
	.ui-drag-inactive-preview {
		display: flex;
	}
	.ui-drag-active-preview {
		display: none;
	}

	background: #fff;
	padding: 10px;
	border: 1px solid #D9D9D9;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
	border-radius: 2px;
	margin-bottom: 10px;
}
.pg-template-edit-page-edit {
	display: flex;
}
