<section class="ry-roll-screen-config">
    <ry-roll-screen-config-position
        ng-if="!focusItem.detailMap.baseMap && !focusItem.detailMap.lock"
        focus-item="focusItem"
        components="components"
        focus-index="focusIndex"
        range="range"
    >
    </ry-roll-screen-config-position>
    <div ng-switch="focusItem.type">
        <div ng-switch-when="8">
            <ry-roll-screen-config-image
                ng-if="!focusItem.detailMap.baseMap"
                focus-item="focusItem"
                range="range"
                components="components"
                mall-id="mallId"
            >
            </ry-roll-screen-config-image>
        </div>
        <div ng-switch-when="9">
            <ry-roll-screen-config-text
                ng-if="!focusItem.detailMap.baseMap"
                config="{
                    focusItem: focusItem,
                    fnChange: vm.changeText
                }"
            >
            </ry-roll-screen-config-text>
        </div>
        <div ng-switch-when="4">
            <ry-roll-screen-config-weather
                focus-item="focusItem"
                range="range"
            >
            </ry-roll-screen-config-weather>
        </div>
        <div ng-switch-when="5">
            <!-- <ry-roll-screen-config-web
                ng-if="!focusItem.detailMap.baseMap"
                focus-item="focusItem"
            >
        </ry-roll-screen-config-web> -->
        </div>
    </div>
</section>
