.bannerBox {
	z-index:50;
}
#pgElement.pg-operate {
	overflow: inherit;
}
.pg-element-parent {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	&.pg-element-LANDSCAPE {
		min-width:  1020px;
		min-height: 620px;
		margin: 0 auto;
		.pg-element-box,
		.pg-element {
			width:  960px;
			height: 540px;
			flex-direction: row;
		}
	}
	&.pg-element-PORTRAIT {
		flex-direction: column;
		min-width:   620px;
		min-height:  1020px;
		.pg-element-box,
		.pg-element {
			width:  540px;
			height: 960px;
			flex-direction: column;
		}
	}
	.pg-element-child {
		height:  100%;
		width:   100%;
		position: relative;
		flex: 1;
	}
	.pg-element-next {
		position: absolute;
		top: 0;
		left: 0;
		height:  100%;
		width:   100%;
		pointer-events: none;
		opacity: 0;
		background-image: url('/images/img-page-next.jpg');
		&.animate {
			opacity: 1;
		}
	}
	.pg-element-box {
		position: relative;
		background-color: #fff;
		box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
	}
	.pg-element {
		position: relative;
		display: flex;
		.inductionLine-h {
			height: 0;
			width:100%;
		    left: 0;
		    right: 0;
		    position: absolute;
		    border-top: 1px solid #66FF00;
		    z-index: 1000;
		}
		.inductionLine-v {
			width: 0;
			height:100%;
		    top: 0;
		    bottom: 0;
		    position: absolute;
		    border-right: 1px solid #66FF00;
		    z-index: 1000;
		}
		.lineNear_0,.lineNear_1 {
			position: absolute;
			width: 0;
			height:100%;
		    border-right: 2px dotted #1890ff;
			z-index: 1000;
		} 
		.lineNear_2,.lineNear_3 {
			position: absolute;
			height: 0; 
			width:100%;  
		    border-top: 2px dotted #1890ff;
			z-index: 1000;
		} 
		.pge-layout {
			& > div {
				pointer-events: none;
				.swiper-pagination {
					bottom: -25px;
					width: 100%; 
					.swiper-pagination-bullet {
						margin-right: 5px;
					}
				}
			}
		}
		.pge-remove,
		.handle-drag,
		.handle-drag-custom {
			position: absolute;
			display: none;
			height: 16px;
			z-index: 1;
		}
		.pge-remove {
			top:   4px;
			right: 4px;
			width: 16px;
			line-height: 16px;
			text-align: center;
			color: #f00;
		}
		.handle-drag,
		.handle-drag-custom {
			top: 0;
			left: 50%;
			width: 60px;
			margin-left: -30px;
			border: 1px solid #000;
			border-radius: 0 0 4px 4px;
			cursor: move;
			background-color: rgba(200, 200, 255, .8);
			// background-color: rgba(0, 255, 255, 1);
		}
		.handle-drag-custom {
			left: 0;
			width:  24px;
			height: 24px;
			margin-left: 0;
			border-radius: 0 0 8px 0;
			// background-color: rgba(255, 0, 0, 1);
		}
		&.animate {
			overflow: hidden;
		}
	}
}

.pge-layout {
	width:  100%;
	height: 100%;
	z-index: 1;
}

.pge-banner {
	position: relative;
	z-index: 1;
	width:  100%;
	height: 100%;
	&.s-active {
		z-index: 10;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			display: block;
			width:  100%;
			height: 100%;
			pointer-events: none;
			border: 2px solid #43bffe;
		}
	}
}

.react-draggable {
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width:  100%;
		height: 100%;
		border: 1px solid rgba(0, 0, 0, 0);
		pointer-events: none;
		z-index: 1;
	}
	& > span {
		& > div {
			// display: none;
			z-index: 10;
			&:nth-child(n+5) {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 8px!important;
				height: 8px!important;
				&:after {
					content: '';
					display: none;
					width:  8px;
					height: 8px;
					background-color: #fff;
					border: 0 solid #333;
					box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
				}
			}
			&:nth-child(1) {
				    height: 5px!important;
    				top: -5px!important;
			}
			&:nth-child(2) {
				    width: 5px!important;
    				right: -5px!important;
			}
			&:nth-child(3) {
				    height: 5px!important;
    				bottom: -5px!important;
			}
			&:nth-child(4) {
				    width: 5px!important;
    				left: -5px!important;
			}
			&:nth-child(5) {
				       right: -7px!important;
    				   top: -7px!important;
			}
			&:nth-child(6) {
				       right: -7px!important;
    				   bottom: -7px!important;
			}
			&:nth-child(7) {
				       left: -7px!important;
    				   bottom: -7px!important;
			}
			&:nth-child(8) {
				       left: -7px!important;
    				   top: -7px!important;
			}
		}
	}
	&.s-select,
	&.s-active {
		z-index: 10;
		&:after {
			border: 1px solid #e4e4e4;
		}
		& > span {
			& > div:nth-child(n+5) {
				&:after {
					display: block;
				}
			}
		}
	}
	&.s-active {
		&:after {
			border: 2px solid #43bffe;
		}
		& > span {
			& > div {
				&:nth-child(n+5) {
					&:after {
						background-color: #43bffe;
					}
				}
			}
		}
	}
	&:hover {
		.handle-drag,
		.pge-remove {
			display: block;
		}
		&:after {
			border: 2px solid #43bffe
		}
	}
	.react-draggable {
		.pge-remove {
			display: none;
		}
		&.s-active {
			&:after {
				border: 1px solid #43bffe;
			}
		}
		&:hover {
			&:after {
				border: 1px solid #43bffe
			}
		}
	}
}