/*
* @Author: weijie
* @Date:   2017-09-28 10:49:49
 * @Last Modified by: lishengpeng
 * @Last Modified time: 2018-03-26 12:37:34
*/

.pg-element {
	position: relative;
	width:  432px;
	height: 768px;
	background-color: #fff;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
	.pge-layout {
		width:  100%;
		height: 100%;
	}
}

// 
.react-draggable {
	box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width:  100%;
		height: 100%;
		border: 1px solid rgba(0, 0, 0, 0);
		pointer-events: none;
	}
	& > span {
		& > div {
			display: none;
			&:nth-child(6) {
				display: flex;
				justify-content: center;
				align-items: center;
				&:after {
					content: '';
					display: none;
					width: 6px;
					height: 6px;
					background-color: #000;
				}
			}
		}
	}
	&.s-active {
		&:after {
			border: 1px solid #000;
		}
		& > span {
			& > div:nth-child(n+5) {
				&:after {
					display: block;
				}
			}
		}
	}
	&:hover {
		box-shadow: 2px 4px 8px rgba(0, 0, 0, .2);
	}
}