// 动画库

// Common
.animate {
	animation-duration: 1s;
	animation-delay: .2s;
	animation-timing-function: ease;
	animation-fill-mode: both !important;
	animation-iteration-count: 1;
}

/* 淡入 */
@import 'animate/fadeIn.less';
/* 弹入 */
@import 'animate/bounceIn.less';
/* 平移 */
@import 'animate/translate.less';
/* 旋转 */
@import 'animate/rotateIn.less';
/* 光速 */
@import 'animate/lightSpeedIn.less';
/* 飞入 */
@import 'animate/zoomIn.less';
/* 展开 */
@import 'animate/pullIn.less';
/* 翻滚 */
@import 'animate/rollIn.less';
/* 缩放 */
@import 'animate/scale.less';
/* 立体翻转 */
@import 'animate/flipIn.less';



/* 淡出 */
@import 'animate/fadeOut.less';
/* 摇摆 */
@import 'animate/swingLR.less';
