// 动画库

// Common
.animate {
	animation-duration: 1s;
	animation-delay: .2s;
	animation-timing-function: ease;
	animation-fill-mode: both !important;
	animation-iteration-count: 1;
}
/* 进入类 */
/* 淡入 */
@import 'animate/in/fadeIn.less';
/* 弹入 */
@import 'animate/in/bounceIn.less';
/* 平移 */
@import 'animate/in/translateIn.less';
/* 旋转 */
@import 'animate/in/rotateIn.less';
/* 光速 */
@import 'animate/in/lightSpeedIn.less';
/* 飞入 */
@import 'animate/in/zoomIn.less';
/* 展开 */
@import 'animate/in/pullIn.less';
/* 翻滚 */
@import 'animate/in/rollIn.less';
/* 缩放 */
@import 'animate/in/scaleIn.less';
/* 立体翻转 */
@import 'animate/in/flipIn.less';


/* 离开类 */
/* 淡出 */
@import 'animate/out/fadeOut.less';
/* 弹出 */
@import 'animate/out/bounceOut.less';
/* 移出 */
@import 'animate/out/translateOut.less';
/* 光速消失 */
@import 'animate/out/lightSpeedOut.less';
/* 翻滚退出 */
@import 'animate/out/rollOut.less';
/* 缩放 */
@import 'animate/out/scaleOut.less';
/* 翻转 */
@import 'animate/out/flipOut.less';
/* 掉落 */
@import 'animate/out/hingeOut.less';


/* 提醒类 */
/* 跳动 */
@import 'animate/point/swingPoint.less';
/* 摇动 */
@import 'animate/point/jumpPoint.less';
/* 旋转 */
@import 'animate/point/rotatePoint.less';
/* 呼吸灯 */
@import 'animate/point/fadePoint.less';
/* 闪动 */
@import 'animate/point/flashPoint.less';
/* 抖动 */
@import 'animate/point/shakePoint.less';
/* 乱抖动 */
@import 'animate/point/tadaPoint.less';
/* 翻转 */
@import 'animate/point/flipPoint.less';
/* 果冻 */
@import 'animate/point/jellyPoint.less';
