.e-list-by-store {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.ep-item {
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		i {
			display: block;
		}
	}
	&.Style1 {
		.ep-item {
			flex-direction: column;
			opacity: 0;
			p {
				display: flex;
				margin-bottom: 0;
				align-items: center;
			}
		}
	}
}