.e-letter {
	.el-6 {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		border: 1px solid #a240ec;
		.el-item {
			display: flex;
			justify-content: center;
			align-items: center;
			width:  33px;
			height: 33px;
			border: 1px solid #a240ec;
			&.s-active {
				color: #fff;
				background-color: #a240ec;
			}
		}
	}
}