/*
* @Author: weijie
* @Date:   2017-09-28 10:49:49
 * @Last Modified by: lishengpeng
 * @Last Modified time: 2018-03-26 12:37:34
*/
.pg-theme {
	overflow-y:auto;
	height:100%;
}
.pgt-edit {
	display: flex;
	justify-content: space-between;
	div {
		display: block;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
	}
}
#banner {
	border-left: none;
    margin-left: -10px;
}